body {
	margin: 2rem;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 10px;
}

.form {
	padding: 1rem;
	margin: 2rem 0;
	border: 1px solid black;
}
.form label {
	font-weight: bold;
}
.form div {
	margin: 1rem 0;
}

.post-display {
	border: 1px solid lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
}

.outfit-display {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.post-data-display{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.post-text {
	padding: 5px;
}

.username {
	padding: 5px;
	font-weight: bold;
}

#message {
	margin: 1rem 0;
}
