body {
	margin: 2rem;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 10px;
}

img {
	width: 250px;
	height: 250px;
	border: 1px solid black;
	margin-left: 8px;
	margin-right: 8px;
}

ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

li {
	display: inline;
	padding: 5px;
}

.form {
	padding: 1rem;
	margin: 2rem 0;
	border: 1px solid black;
}
.form label {
	font-weight: bold;
}
.form div {
	margin: 1rem 0;
}

.post-display {
	border: 1px solid lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
}

.outfit-display {
	display: flex;
	align-items: center;
	justify-content: center;
}

.post-data-display{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.post-text {
	padding: 5px;
}

.username {
	padding: 5px;
	font-weight: bold;
}

#message {
	margin: 1rem 0;
}
